* {
    outline: none;
}

html {
    height: 95%;
}

body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    color: rgb(50, 50, 50);
    height: 100%;
}

.wrap {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.div-mensagem {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 15px;
    height: 320px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 15px;
    overflow: auto;
}

.div-footer {
    display: flex;
    flex-direction: column;
}

.div-botoes {
    display: flex;
    margin: 10px auto;
    justify-items: center;
}

.div-lixeira {
    display: flex;
    margin: auto;
    justify-items: center;
}

.div-imagem {
    display: flex;
}

#imagem {
    width: 90px;
    margin: 30px auto;
}

.div-botoes button {
    background-color: white;
    border: 0.1px solid rgb(99, 77, 77);
    border-left: -1px;
    width: 150px;
    height: 40px;
}

.div-botoes button:hover {
    background-color: rgb(255, 251, 141);
}

.div-lixeira button {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    padding: 11px;
    border: none;
    background-color: rgb(147, 147, 147);
}

.div-escolha {
    display: flex;
    justify-items: center;
    margin: auto;
}

p {
    text-align: center;
    margin: auto;
    color: rgb(147, 147, 147);
    font-size: 10pt;
}

.div-recebida {
    display: flex;
    margin: 3px;
    margin-left: 50px;
    justify-content: flex-start;
}

.div-enviada {
    display: flex;
    margin: 3px;
    margin-right: 50px;
    justify-content: flex-end;
}

.mEnviada {
    background-color: rgb(255, 251, 141);
    padding: 10px;
    border-radius: 15px 15px 0px 15px;
}

.mRecebida {
    background-color: white;
    padding: 10px;
    border-radius: 0px 15px 15px 15px;
}


/* Scrollbar styles */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid rgb(128, 210, 235);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

::-webkit-scrollbar-thumb {
    background: rgb(10, 100, 141);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1c6eba;
}