         @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap);
         html {
             height: 100%;
         }
         
         body {
             min-height: 100%;
             padding: 0;
             margin: 0;
             position: relative;
             background-color: rgb(232, 232, 232);
             font-family: 'Raleway', sans-serif;
         }
         
         div {
             display: flex;
         }
         
         .produto {
             display: inline-block;
             margin: 10px;
             background-color: white;
             border-radius: 25px;
             padding: 25px;
             width: 260px;
             height: 360px;
             min-height: 360px;
         }
         
         .nav-menu {
             background-color: blue;
             height: 50px;
             min-height: 50px;
             padding: 30px;
             display: flex;
             justify-content: space-between;
         }
         
         .nav-menu img {
             width: 30px;
         }
         
         .div-container {
             display: flex;
             justify-content: space-around;
             flex-wrap: wrap;
         }
         
         .imp_produto {
             margin: auto;
             display: block;
             width: 90%;
             height: 70%;
         }
         
         p {
             padding: 3px;
             padding-left: 15px;
             margin: 0px;
             font-weight: bold;
             font-size: 10pt
         }
         
         .p_texto {
             color: gray;
         }
         
         .p_valor {
             color: blue;
         }
         
         h1 {
             color: white;
             font-weight: lighter;
             font-size: 15pt;
             margin-left: 15px;
         }
         
         .textofigura {
             font-weight: bold;
             font-size: 20pt;
             padding-left: 15px;
             margin-bottom: 10px;
         }
         
         footer {
             background: blue;
             position: absolute;
             bottom: 0;
             width: 100%;
             min-height: 50px;
             height: 50px;
         }